In [2]:
import numpy as np
import pandas as pd

In [3]:
data=pd.read_csv(r'F:/bank.csv')

In [4]:
data

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,admin.,married,secondary,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown,yes
1,56,admin.,married,secondary,no,45,no,no,unknown,5,may,1467,1,-1,0,unknown,yes
2,41,technician,married,secondary,no,1270,yes,no,unknown,5,may,1389,1,-1,0,unknown,yes
3,55,services,married,secondary,no,2476,yes,no,unknown,5,may,579,1,-1,0,unknown,yes
4,54,admin.,married,tertiary,no,184,no,no,unknown,5,may,673,2,-1,0,unknown,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11157,33,blue-collar,single,primary,no,1,yes,no,cellular,20,apr,257,1,-1,0,unknown,no
11158,39,services,married,secondary,no,733,no,no,unknown,16,jun,83,4,-1,0,unknown,no
11159,32,technician,single,secondary,no,29,no,no,cellular,19,aug,156,2,-1,0,unknown,no
11160,43,technician,married,secondary,no,0,no,yes,cellular,8,may,9,2,172,5,failure,no
11161,34,technician,married,secondary,no,0,no,no,cellular,9,jul,628,1,-1,0,unknown,no

In [5]:
data.columns

Index(['age', 'job', 'marital', 'education', 'default', 'balance', 'housing',
       'loan', 'contact', 'day', 'month', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'deposit'],
      dtype='object')

In [9]:
print(data[data['marital']=='married'].shape[0])

6351

In [11]:
p_marital_equals_married=data[data['marital']=='married'].shape[0]/11162

In [12]:
p_marital_equals_married

0.5689840530370901

In [15]:
p_bluecoller_and_married=data[(data['job']=='blue-collar') & (data['marital']== 'married')].shape[0]/11162

In [16]:
p_bluecoller_and_married

0.11960222182404587

In [17]:
p_bluecollar_on_married=p_bluecoller_and_married/p_marital_equals_married

In [18]:
p_bluecollar_on_married

0.21020311761927257

In [19]:
p_blue_collar_on_married=data[(data['job']=='blue-collar') & (data['marital']== 'married')].shape[0]/data[data['marital']=='married'].shape[0]

In [20]:
p_blue_collar_on_married

0.21020311761927254

In [22]:
p_greater_age_on_divorced=data[(data['age']>=35)&(data['marital']=='divorced')].shape[0]/data[data['marital']=='divorced'].shape[0]

In [23]:
p_greater_age_on_divorced

0.877030162412993

In [24]:
data['job'].unique()

array(['admin.', 'technician', 'services', 'management', 'retired',
       'blue-collar', 'unemployed', 'entrepreneur', 'housemaid',
       'unknown', 'self-employed', 'student'], dtype=object)

In [27]:
data[(data['age']<=45) & (data['marital']== 'married')& (data['loan']== 'no')& (data['contact']=='cellular')].shape[0]/11162

0.19593262856118976