In [22]:
import numpy as np
import pandas as pd

In [35]:
df=pd.DataFrame()

In [24]:
level_of_education=['senior secondary']*30 + ['bachelors']*30

In [25]:
level_of_education

['senior secondary',
 'senior secondary',
 'senior secondary',
 'senior secondary',
 'senior secondary',
 'senior secondary',
 'senior secondary',
 'senior secondary',
 'senior secondary',
 'senior secondary',
 'senior secondary',
 'senior secondary',
 'senior secondary',
 'senior secondary',
 'senior secondary',
 'senior secondary',
 'senior secondary',
 'senior secondary',
 'senior secondary',
 'senior secondary',
 'senior secondary',
 'senior secondary',
 'senior secondary',
 'senior secondary',
 'senior secondary',
 'senior secondary',
 'senior secondary',
 'senior secondary',
 'senior secondary',
 'senior secondary',
 'bachelors',
 'bachelors',
 'bachelors',
 'bachelors',
 'bachelors',
 'bachelors',
 'bachelors',
 'bachelors',
 'bachelors',
 'bachelors',
 'bachelors',
 'bachelors',
 'bachelors',
 'bachelors',
 'bachelors',
 'bachelors',
 'bachelors',
 'bachelors',
 'bachelors',
 'bachelors',
 'bachelors',
 'bachelors',
 'bachelors',
 'bachelors',
 'bachelors',
 'bachelors',
 'bachelors',
 'bachelors',
 'bachelors',
 'bachelors']

In [26]:
teaching_methodology=['theory']*20 +['hands on']*20 + ['combination']*20

In [27]:
teaching_methodology

['theory',
 'theory',
 'theory',
 'theory',
 'theory',
 'theory',
 'theory',
 'theory',
 'theory',
 'theory',
 'theory',
 'theory',
 'theory',
 'theory',
 'theory',
 'theory',
 'theory',
 'theory',
 'theory',
 'theory',
 'hands on',
 'hands on',
 'hands on',
 'hands on',
 'hands on',
 'hands on',
 'hands on',
 'hands on',
 'hands on',
 'hands on',
 'hands on',
 'hands on',
 'hands on',
 'hands on',
 'hands on',
 'hands on',
 'hands on',
 'hands on',
 'hands on',
 'hands on',
 'combination',
 'combination',
 'combination',
 'combination',
 'combination',
 'combination',
 'combination',
 'combination',
 'combination',
 'combination',
 'combination',
 'combination',
 'combination',
 'combination',
 'combination',
 'combination',
 'combination',
 'combination',
 'combination',
 'combination']

In [28]:
ss_theory=np.random.normal(loc=34,scale=2,size=10)
ss_handson=np.random.normal(loc=45,scale=4,size=10)
ss_combination=np.random.normal(loc=51,scale=3.5,size=10)

In [29]:
bachelors_theory=np.random.normal(loc=30,scale=1.5,size=10)
bachelors_handson=np.random.normal(loc=55,scale=6,size=10)
bachelors_combination=np.random.normal(loc=48,scale=2.5,size=10)

In [30]:
attention_span=np.concatenate((ss_theory,ss_handson,ss_combination,bachelors_theory,bachelors_handson,bachelors_combination))

In [36]:
df['LE']=level_of_education
df['TM']=teaching_methodology
df['AS']=attention_span

In [37]:
df

                  LE           TM         AS
0   senior secondary       theory  34.532264
1   senior secondary       theory  37.689438
2   senior secondary       theory  31.230536
3   senior secondary       theory  35.409456
4   senior secondary       theory  34.930483
5   senior secondary       theory  33.651253
6   senior secondary       theory  35.155972
7   senior secondary       theory  34.581969
8   senior secondary       theory  32.996711
9   senior secondary       theory  37.748432
10  senior secondary       theory  49.697672
11  senior secondary       theory  42.597980
12  senior secondary       theory  49.477827
13  senior secondary       theory  43.061360
14  senior secondary       theory  42.703859
15  senior secondary       theory  41.747540
16  senior secondary       theory  45.240581
17  senior secondary       theory  42.496316
18  senior secondary       theory  42.008883
19  senior secondary       theory  40.824729
20  senior secondary     hands on  47.590160
21  senior secondary     hands on  47.612712
22  senior secondary     hands on  53.914022
23  senior secondary     hands on  55.175224
24  senior secondary     hands on  54.468411
25  senior secondary     hands on  52.039195
26  senior secondary     hands on  53.077119
27  senior secondary     hands on  50.537783
28  senior secondary     hands on  48.133234
29  senior secondary     hands on  51.828117
30         bachelors     hands on  30.769037
31         bachelors     hands on  31.181719
32         bachelors     hands on  29.044379
33         bachelors     hands on  31.091645
34         bachelors     hands on  31.296592
35         bachelors     hands on  28.476855
36         bachelors     hands on  30.045143
37         bachelors     hands on  31.182860
38         bachelors     hands on  32.110937
39         bachelors     hands on  31.870233
40         bachelors  combination  40.173828
41         bachelors  combination  51.193974
42         bachelors  combination  57.268359
43         bachelors  combination  48.184625
44         bachelors  combination  51.016175
45         bachelors  combination  57.571035
46         bachelors  combination  53.885938
47         bachelors  combination  45.465742
48         bachelors  combination  58.611752
49         bachelors  combination  52.407877
50         bachelors  combination  46.272529
51         bachelors  combination  46.183974
52         bachelors  combination  46.586846
53         bachelors  combination  50.822518
54         bachelors  combination  40.728339
55         bachelors  combination  51.161258
56         bachelors  combination  46.148531
57         bachelors  combination  47.450380
58         bachelors  combination  48.591038
59         bachelors  combination  42.618200

In [38]:
import statsmodels.api as sm
from statsmodels.formula.api import ols

In [42]:
models=ols(formula='AS~C(LE) + C(TM) + (C(LE)*C(TM))',data=df).fit()

In [44]:
sm.stats.anova_lm(models,type=2)

               df       sum_sq      mean_sq          F        PR(>F)
C(LE)         1.0     2.708066     2.708066   0.131647  7.180966e-01
C(TM)         2.0  3227.336404  1613.668202  78.445009  5.766555e-17
C(LE):C(TM)   2.0    34.689143    17.344571   0.843169  4.357341e-01
Residual     56.0  1151.958813    20.570693        NaN           NaN